.root {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Adjust the ratio according to your preference */
    gap: 20px;
}

.content,
.ads {
    padding: 20px;
}

.ads {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-ad,
#div-gpt-ad-1713969330814-0 {
    width: 100%;
    /* Ensure the ads use the full width of the column */
    margin: 20px 0;
}

.native-ad {
    padding: 10px;
    background-color: #151136;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

header,
footer,
section {
    margin-bottom: 20px;
}